<div class="min-w-screen min-h-screen flex items-center justify-center px-5 py-5 bg-primary-900">
  <div class="bg-primary-700 text-accent-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width: 1000px">
    <div class="md:flex w-full">
      <div class="hidden md:block w-1/2">
        <img src="assets/images/splash.jpeg" class="h-full w-full" />
      </div>
      <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
